#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=MoeChat Next
Exec=/usr/lib/moeOS/chromium "https://im.kimiblock.top"
Icon=element
StartupWMClass=crx_top-kimiblock-im
