# Further configuration documentation can be found at
# https://godoc.org/github.com/black-desk/cgtproxy/pkg/cgtproxy/config

version: 1
cgroup-root: AUTO # path to cgroupfs v2 mount point or "AUTO"
route-table: 300

tproxies:
  clash-meta:
    mark: 3000
    port: 11100

bypass:
  - 127.0.0.0/8
  - ::1

# Rules are matched in order.
# `match` is an regex to match the cgroup path.
# `direct` means the traffic will not be redirect to any TPROXY server;
# `drop` means the traffic will be drop;
# `tproxy` means the traffic will be redirect to that TPROXY server.
#
# NOTE: You can use systemd-cgls to check the cgroup layout on your system.
#
# NOTE: Any web service will provide their service directly.
#       Traffics in connection created by remote host
#       will never redirect to TPROXY server or drop.
rules:
  # This rule match the clash-meta core.
  # Make cgtproxy produce nft rules that
  # route the network traffic comes from this cgroupfs as usual.
  - match: /moeOS.slice/moeOS-noproxy.slice
    direct: true

  - match: /system.slice/chronyd.service
    direct: true
  - match: /system.slice/moeOS-sing.service
    direct: true
  - match: /system.slice/system-cups.slice
    direct: true

  # For any cgroup else, TPROXY to clash-meta.
  - match: .*
    tproxy: clash-meta
