[Unit]
Description=moeOS Auto Color Daemon
After=dbus.service

[Service]
ExecStart=/usr/lib/moeOS/autoColor
Restart=always
RestartSec=1s
MemoryHigh=4M
MemoryMax=5M
OOMPolicy=kill

CapabilityBoundingSet=
AmbientCapabilities=

ProtectSystem=strict
ProtectHome=read-only
PrivateTmp=yes
PrivateDevices=yes
ProtectHostname=yes
ProtectClock=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
RestrictNamespaces=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
RemoveIPC=yes
SystemCallArchitectures=native
UMask=077
NoNewPrivileges=yes
KeyringMode=private
ProtectProc=invisible
ProcSubset=pid

SystemCallFilter=~@reboot
SystemCallFilter=~@raw-io
SystemCallFilter=~@privileged
SystemCallFilter=~@mount
SystemCallFilter=~@module
SystemCallFilter=~@debug
SystemCallFilter=~@cpu-emulation
SystemCallFilter=~@obsolete
SystemCallFilter=~@resources
#RestrictAddressFamilies=none
RestrictAddressFamilies=AF_UNIX
IPAddressAllow=localhost
PrivateUsers=yes
PrivateNetwork=yes

[Install]
WantedBy=default.target
