[Unit]
Description=moeOS Auto Color Daemon
After=dbus.service gnome-session.target gnome-session-wayland.target gnome-session-x11.target gnome-session@gnome.target

[Service]
Type=simple
ExecStartPre=sleep 5s
ExecStart=/usr/lib/moeOS/autoColor
Restart=always
RestartSec=1h
MemoryHigh=18M
MemoryMax=40M
OOMPolicy=kill

CapabilityBoundingSet=
AmbientCapabilities=

#ProtectSystem=strict
#ProtectHome=read-only
PrivateTmp=yes
PrivateDevices=yes
ProtectHostname=yes
ProtectClock=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
RestrictNamespaces=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
RemoveIPC=yes
SystemCallArchitectures=native
UMask=077
NoNewPrivileges=yes
KeyringMode=private
ProtectProc=invisible
ProcSubset=pid

RestrictAddressFamilies=AF_UNIX
IPAddressAllow=localhost
PrivateUsers=yes
PrivateNetwork=yes

[Install]
WantedBy=default.target
