[Unit]
Description=moeOS Auto Setup
After=dbus.service gnome-session.target gnome-session-wayland.target gnome-session-x11.target gnome-session@gnome.target plasma-plasmashell.service
ConditionUser=!@system

[Service]
Type=simple
ExecStartPre=sleep 5s
ExecStart=/usr/bin/bash /usr/lib/moeOS/moeOS-setup-user
Restart=on-failure
CPUWeight=50
CPUQuota=5%
RestartSec=1h
MemoryHigh=30M
MemoryMax=100M
OOMPolicy=kill
RemainAfterExit=yes
PrivateTmp=yes
CapabilityBoundingSet=
ProtectKernelModules=yes
ProtectClock=yes
KeyringMode=private
NoNewPrivileges=yes
PrivateMounts=yes
RestrictNamespaces=yes
RestrictSUIDSGID=yes
ProtectHostname=yes
LockPersonality=yes
RestrictRealtime=yes
ProtectProc=invisible
ProcSubset=pid
PrivateUsers=yes
UMask=077

[Install]
WantedBy=default.target
