[Unit]
Description=Auto updated clash-meta daemon.
After=network.target

[Service]
Slice=moeOS-noproxy.slice

ExecStartPre=bash /usr/lib/moeOS/moeOS-clash-meta-pre
ExecStart=fakeroot /usr/bin/clash-meta -d /var/tmp
EnvironmentFile=/etc/moeOS-clash-meta/env.conf

TimeoutStartSec=120
TimeoutStopSec=10
Restart=on-failure
OOMPolicy=kill

RestartSec=10s
OOMScoreAdjust=50

DynamicUser=yes
WorkingDirectory=/var/tmp

CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_NET_RAW CAP_NET_ADMIN
AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_NET_RAW CAP_NET_ADMIN

DevicePolicy=closed

ProtectSystem=strict
RemoveIPC=yes
NoNewPrivileges=yes
ProtectClock=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
PrivateMounts=yes
SystemCallArchitectures=native
MemoryDenyWriteExecute=yes
RestrictNamespaces=yes
ProtectHostname=yes
RestrictSUIDSGID=yes
LockPersonality=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
RestrictRealtime=yes
PrivateTmp=yes
ProtectHome=yes
ProtectProc=invisible
ProcSubset=pid
#DeviceAllow=
#PrivateUsers=yes
PrivateDevices=yes

RestrictAddressFamilies=~AF_PACKET

SystemCallFilter=@system-service bpf

UMask=077

[Install]
WantedBy=multi-user.target
