[Unit]
Description=Set uclamp for system cgroups
RequiresMountsFor=/sys/fs/cgroup
After=network.target
Before=gdm.service

[Service]
Type=oneshot
ExecStart=bash /usr/lib/moeOS/uclamp

ReadWritePaths=/mnt/external

OOMPolicy=kill
OOMScoreAdjust=500

ProtectSystem=strict
ReadWritePaths=/sys/fs/cgroup
ProtectHome=tmpfs
PrivateTmp=disconnected
PrivateDevices=yes
ProtectHostname=yes
ProtectClock=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=false
#ProtectControlGroups=yes
RestrictAddressFamilies=none
RestrictNamespaces=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes
RestrictSUIDSGID=no
RemoveIPC=yes
SystemCallArchitectures=native
NoNewPrivileges=yes

CapabilityBoundingSet=CAP_SYS_ADMIN CAP_SYS_RESOURCE

AmbientCapabilities=

ProtectProc=invisible
ProcSubset=pid
PrivateNetwork=yes

RestrictAddressFamilies=none

SystemCallFilter=~@clock
SystemCallFilter=~@cpu-emulation
SystemCallFilter=~@debug
SystemCallFilter=~@module
SystemCallFilter=~@mount
SystemCallFilter=~@obsolete
SystemCallFilter=~@reboot
SystemCallFilter=~@swap
SystemCallErrorNumber=EPERM

MemoryHigh=1M
MemoryMax=10M

CPUWeight=idle