[Unit]
Description=Auto updated dae daemon.
After=network-online.target NetworkManager-wait-online.service
Conflicts=moeOS-cgproxy.service moeOS-clash-meta-auto.service
Wants=moeOS-seconnect.service
Requires=NetworkManager-wait-online.service
Conflicts=sleep.target

[Service]

BindPaths=/usr/share/v2ray:/usr/share/dae
BindPaths=/usr/lib/moeOS/resolv.conf:/etc/resolv.conf
BindPaths=/var/tmp:/root

CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_NET_RAW CAP_BPF CAP_NET_ADMIN CAP_SYS_ADMIN
ProtectClock=yes
NoNewPrivileges=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
SystemCallArchitectures=native
MemoryDenyWriteExecute=yes
RestrictSUIDSGID=yes
ProtectHostname=yes
LockPersonality=yes
ProtectKernelTunables=no
RestrictRealtime=yes
ProtectProc=invisible
ProtectHome=tmpfs
PrivateUsers=no
PrivateTmp=yes
SystemCallFilter=~@clock
SystemCallFilter=~@cpu-emulation
SystemCallFilter=~@reboot
SystemCallFilter=~@module
SystemCallFilter=~@obsolete
RestrictNamespaces=~pid
RestrictNamespaces=~uts
RestrictNamespaces=~mnt
RestrictNamespaces=~cgroup
RestrictNamespaces=~ipc
UMask=077
SystemCallErrorNumber=EPERM


Slice=moeOS-noproxy.slice

CPUWeight=180

ExecStartPre=bash /usr/lib/moeOS/dae
ExecStart=/usr/bin/dae run -c /var/tmp/config.dae
EnvironmentFile=/etc/default/dae.url

TimeoutStartSec=120
TimeoutStopSec=10
Restart=always
OOMPolicy=kill

RestartSec=10s
OOMScoreAdjust=50

#DynamicUser=yes
User=root
WorkingDirectory=/var/tmp

[Install]
WantedBy=multi-user.target
WantedBy=NetworkManager-wait-online.service