[Unit]
Description=moeOS scheduler operating at %I
StartLimitIntervalSec=30
StartLimitBurst=5
Conflicts=scx.service scx_loader.service moeOS-scheduler.service

[Service]
Restart=always
Type=simple
ExecStart=scx_cosmos -m %I --cpu-busy-thresh 20 --avoid-smt -d --flat-idle-scan -f
#ExecStart=/usr/bin/scx_p2dq --sched-mode efficiency --cpu-priority true --latency-priority --interactive-sticky --task-slice true --disable-kthreads-local --turbo true --uncore-max-freq-mhz 4294967295 --enable-eas true
#ExecStart=/usr/bin/scx_lavd --autopower --%I
#ExecStart=/usr/bin/scx_lavd --powersave --enable-cpu-bw --no-freq-scaling --partial
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
Alias=moeOS-scheduler.service