[Unit]
Description=Auto updated EasierConnect daemon.
After=network-online.target
After=moeOS-clash-meta-auto.service

[Service]
Slice=moeOS.slice

CPUQuota=30%
CPUWeight=idle
MemoryHigh=20M
MemoryMax=50M

ExecStart=/usr/lib/moeOS/seconnect
EnvironmentFile=/etc/default/seconnect

StateDirectory=moeOS-seconnect

TimeoutStartSec=120
TimeoutStopSec=10
Restart=on-failure
OOMPolicy=kill

RestartSec=10s
OOMScoreAdjust=100

DynamicUser=yes
WorkingDirectory=/var/tmp

CapabilityBoundingSet=
AmbientCapabilities=

DevicePolicy=closed
IPAccounting=yes
IPAddressDeny=link-local

ProtectSystem=strict
RemoveIPC=yes
NoNewPrivileges=yes
ProtectClock=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
PrivateMounts=yes
SystemCallArchitectures=native
MemoryDenyWriteExecute=yes
RestrictNamespaces=yes
ProtectHostname=yes
RestrictSUIDSGID=yes
LockPersonality=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
RestrictRealtime=yes
PrivateTmp=yes
ProtectHome=yes
ProtectProc=invisible
ProcSubset=pid
#DeviceAllow=
PrivateUsers=yes
PrivateDevices=yes

RestrictAddressFamilies=~AF_PACKET
RestrictAddressFamilies=~AF_NETLINK

SystemCallFilter=~@clock
SystemCallFilter=~@cpu-emulation
SystemCallFilter=~@debug
SystemCallFilter=~@module
SystemCallFilter=~@mount
SystemCallFilter=~@obsolete
SystemCallFilter=~@privileged
SystemCallFilter=~@raw-io
SystemCallFilter=~@reboot
SystemCallFilter=~@resources
SystemCallFilter=~@swap
SystemCallErrorNumber=EPERM

UMask=077

[Install]
WantedBy=multi-user.target