[Unit]
Description=moeOS cgproxy service
Conflicts=cgproxy.service

[Service]
Type=simple
TimeoutStopSec=5
#DynamicUser=yes
ExecStart=/usr/bin/cgproxyd
CapabilityBoundingSet=CAP_BPF CAP_NET_ADMIN CAP_NET_RAW CAP_SYS_ADMIN CAP_DAC_OVERRIDE
LockPersonality=yes
PrivateMounts=yes
SystemCallArchitectures=native
MemoryDenyWriteExecute=yes
RestrictNamespaces=yes
RestrictSUIDSGID=yes
ProtectKernelTunables=yes
RestrictRealtime=yes
PrivateTmp=yes
ProtectClock=yes
ProtectKernelLogs=yes
ProtectHostname=yes
ProtectKernelModules=yes
ProtectProc=invisible
ProcSubset=pid
ProtectHome=yes
ProtectSystem=full
PrivateDevices=yes
NoNewPrivileges=yes
RestrictAddressFamilies=AF_NETLINK AF_UNIX
BindPaths=/usr/share/moeOS-Docs/cgproxy/config.json:/etc/cgproxy/config.json
ReadWritePaths=/var/run
KillMode=mixed
SystemCallFilter=~@aio:EPERM @chown:EPERM @clock:EPERM @cpu-emulation:EPERM @debug:EPERM @keyring:EPERM @memlock:EPERM @module:EPERM @obsolete:EPERM @pkey:EPERM @privileged:EPERM @raw-io:EPERM @reboot:EPERM @resources:EPERM @sandbox:EPERM @setuid:EPERM @swap:EPERM @sync:EPERM @timer:EPERM
UMask=077
