[Unit]
Description=moeOS scx_sched schedulers
StartLimitIntervalSec=30
StartLimitBurst=2
Conflicts=scx.service scx_loader.service

[Service]
Type=simple
ExecStart=/usr/bin/scx_cosmos --primary-domain powersave --no-deferred-wakeup --disable-cpufreq
#ExecStart=/usr/bin/scx_p2dq --sched-mode efficiency --freq-control --cpu-priority true --dhq-enabled true --interactive-sticky
CPUWeight=500
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target