[Unit]
Description=Auto updated dae daemon.
After=network-online.target
Conflicts=moeOS-cgproxy.service moeOS-clash-meta-auto.service
Wants=moeOS-seconnect.service
StartLimitIntervalSec=120
StartLimitBurst=10

[Service]

BindPaths=/usr/share/v2ray:/usr/share/dae
BindPaths=/usr/lib/moeOS/resolv.conf:/etc/resolv.conf

Slice=moeOS-noproxy.slice

CPUWeight=180

ExecStartPre=bash /usr/lib/moeOS/dae
ExecStart=/usr/bin/dae run -c /var/tmp/config.dae
EnvironmentFile=/etc/default/dae.url

TimeoutStartSec=120
TimeoutStopSec=10
Restart=on-failure
OOMPolicy=kill

RestartSec=5s
OOMScoreAdjust=50

#DynamicUser=yes
User=root
WorkingDirectory=/var/tmp
UMask=077

[Install]
WantedBy=multi-user.target