[Unit]
Description=moeOS Throttle Stopper (NVIDIA, performance mode)
ConditionPathExists=/usr/bin/nvidia-smi

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
CPUWeight=idle
IOWeight=1
CPUQuota=5%

ProtectControlGroups=yes
MemoryDenyWriteExecute=true
RestrictAddressFamilies=none
ProtectProc=ptraceable
ProtectSystem=strict
ProtectKernelLogs=yes
ProtectKernelTunables=yes
ProtectHome=yes
SocketBindDeny=ipv4:tcp
SocketBindDeny=ipv4:udp
SocketBindDeny=ipv6:tcp
SocketBindDeny=ipv6:udp
LockPersonality=yes
RestrictRealtime=yes
ProtectClock=yes
#SystemCallFilter=~@aio:EPERM @chown:EPERM @clock:EPERM @cpu-emulation:EPERM @debug:EPERM @io-event:EPERM @keyring:EPERM @memlock:EPERM @module:EPERM @mount:EPERM @network-io:EPERM @obsolete:EPERM @pkey:EPERM @privileged:EPERM @raw-io:EPERM @reboot:EPERM @resources:EPERM @sandbox:EPERM @setuid:EPERM @swap:EPERM @sync:EPERM @timer:EPERM

OOMPolicy=continue
WorkingDirectory=/tmp
ExecStart=bash -c "nvidia-smi -lgc 4000,400000 && nvidia-smi -lmc 4000,400000"
ExecStop=bash -c "nvidia-smi -rgc && nvidia-smi -rmc"
RemainAfterExit=yes