[Unit]
Description=Auto updated clash-meta daemon for.
After=network.target NetworkManager.service systemd-networkd.service iwd.service

[Service]
Type=exec
User=root
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_RAW CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_RAW CAP_NET_BIND_SERVICE
Restart=on-abort
WorkingDirectory=/etc/moeOS-clash-meta
ExecStart=/usr/bin/clash-meta -d ./
ExecPreStart=moeOS-clash-meta-pre %i

[Install]
WantedBy=multi-user.target
