[Unit]
Description=Discard unused filesystem blocks once a week
Documentation=man:fstrim
ConditionVirtualization=!container
ConditionPathExists=!/etc/initrd-release

[Timer]
OnCalendar=*-*-* 01:00:00
AccuracySec=1h
Persistent=true
RandomizedDelaySec=100min
Unit=fstrim.service

[Install]
WantedBy=multi-user.target