[Unit]
Description=Raise the minimum frequency of i915 devices
Before=gdm.service
StartLimitIntervalSec=2
StartLimitBurst=1
ConditionPathExists=/sys/module/i915

[Service]
Type=oneshot
Slice=moeOS-noproxy.slice

CPUWeight=idle

ExecStart=intel_gpu_frequency -c min=300

TimeoutStartSec=120
TimeoutStopSec=10
Restart=on-failure
OOMPolicy=kill

RestartSec=1s

DynamicUser=no

CapabilityBoundingSet=
AmbientCapabilities=

ProtectSystem=strict
ReadWritePaths=/dev/dri
RemoveIPC=yes
NoNewPrivileges=yes
ProtectClock=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
PrivateMounts=yes
SystemCallArchitectures=native
MemoryDenyWriteExecute=yes
RestrictNamespaces=yes
ProtectHostname=yes
RestrictSUIDSGID=yes
LockPersonality=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
RestrictRealtime=yes
PrivateTmp=disconnected
ProtectHome=yes
ProtectProc=invisible
ProcSubset=pid
#DeviceAllow=
#PrivateUsers=yes
#PrivateDevices=yes

RestrictAddressFamilies=

SystemCallFilter=@system-service

UMask=077
SystemCallErrorNumber=EPERM

[Install]
WantedBy=graphical.target