[Unit]
Description=moeOS Throttle Stopper (NVIDIA)
After=multi-user.target
ConditionPathExists=/usr/bin/nvidia-smi

[Service]
Type=oneshot
User=root

ProtectControlGroups=yes
MemoryDenyWriteExecute=true
RestrictAddressFamilies=none
ProtectProc=ptraceable
ProtectSystem=strict
ProtectKernelLogs=yes
ProtectKernelTunables=yes
ProtectHome=yes
SocketBindDeny=ipv4:tcp
SocketBindDeny=ipv4:udp
SocketBindDeny=ipv6:tcp
SocketBindDeny=ipv6:udp
LockPersonality=yes
RestrictRealtime=yes
ProtectClock=yes
#SystemCallFilter=~@aio:EPERM @chown:EPERM @clock:EPERM @cpu-emulation:EPERM @debug:EPERM @io-event:EPERM @keyring:EPERM @memlock:EPERM @module:EPERM @mount:EPERM @network-io:EPERM @obsolete:EPERM @pkey:EPERM @privileged:EPERM @raw-io:EPERM @reboot:EPERM @resources:EPERM @sandbox:EPERM @setuid:EPERM @swap:EPERM @sync:EPERM @timer:EPERM

OOMPolicy=continue
WorkingDirectory=/tmp
ExecStart=/usr/bin/nvidia-smi -lgc 1000,40000
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
