[Unit]
Description=Auto updated clash-meta daemon.
After=network.target
Before=moeOS-cgproxy.service
Wants=moeOS-cgproxy.service

[Service]
Slice=moeOS-noproxy.slice

Type=simple
DynamicUser=yes
CapabilityBoundingSet=CAP_NET_ADMIN
AmbientCapabilities=CAP_NET_ADMIN
Restart=on-failure
RestartSec=10s
OOMPolicy=stop
WorkingDirectory=/var/tmp
ExecStartPre=bash /usr/lib/moeOS/moeOS-clash-meta-pre
ExecStart=/usr/bin/clash-meta -d /var/tmp
EnvironmentFile=/etc/moeOS-clash-meta/env.conf

ProtectSystem=strict
RemoveIPC=yes
NoNewPrivileges=yes
ProtectClock=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
PrivateMounts=yes
SystemCallArchitectures=native
MemoryDenyWriteExecute=yes
RestrictNamespaces=true
ProtectHostname=yes
RestrictSUIDSGID=yes
LockPersonality=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_NETLINK
RestrictRealtime=yes
PrivateTmp=yes
ProtectHome=yes
ProtectProc=invisible
ProcSubset=pid
DeviceAllow=
#PrivateUsers=yes
#PrivateDevices=yes

SystemCallFilter=@system-service bpf

UMask=077

[Install]
WantedBy=multi-user.target
